.card {
  transition: transform 0.2s;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.03);
}
img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px ;
}

.corazon-click {
  transition: transform 0.2s ease-in-out;
}

.corazon-click:active {
  transform: scale(1.4); /* El corazón se agranda un poco al hacerle click */
}