<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand letra" href="#"><strong>ART</strong></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="/inicio" routerLinkActive="active"  aria-current="page" >Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favoritos" routerLinkActive="active">Favoritos
            <span class="badge rounded-pill bg-danger">
                {{ favService.favoritos().length }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>